<div class="modal-header">
    <h4 class="modal-title" id="defModalHead">Create Account</h4>
</div>
<div class="modal-body">

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-11">
                <!-- START TABS -->
                <form name="suppAccount" class="form-horizontal" novalidate>



                    <tabset class="tab-container">
                        <tab heading="Details">
                            <div class="scrollable-div1 ">

                                <!-- <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Id</label>
                                        <div class="col-md-8 col-xs-7">
                                            <input type="text" class="form-control" name="id" ng-model="createSupplier.hotel.id" ng-minlength="1" ng-pattern="/^[a-zA-Z0-9& ]*$/" required >
                                            <span class="error" ng-show="suppAccount.id.$error.required">Tell us Id</span>
                                            <span class="error" ng-show="suppAccount.id.$error.minlength">Id should have atleast 1 character</span>
                                            <span class="error" ng-show="suppAccount.id.$error.pattern">Id won't allow special characters</span>
                                        </div>
                                    </div> -->

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Corporate Name</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="hotelName" ng-model="createSupplier.supplier.corporateName" ng-minlength="3" required ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.hotelName.$error.required && submitted">Tell  your Corporate Name</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.minlength && submitted">Corporate name should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.maxlength && submitted">Corporate name should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.pattern && submitted">Corporate name won't allow  special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Supplier Type</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="hotelName" ng-model="createSupplier.supplier.supplierType" ng-minlength="3" required ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.hotelName.$error.required && submitted">Tell  your Corporate Name</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.minlength && submitted">Corporate name should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.maxlength && submitted">Corporate name should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.pattern && submitted">Corporate name won't allow  special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Legal Form</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="hotelName" ng-model="createSupplier.supplier.legalForm" ng-minlength="3" required ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.hotelName.$error.required && submitted">Tell  your Legal Form Name</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.minlength && submitted">Legal Form should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.maxlength && submitted">Legal Form should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.pattern && submitted">Legal Form won't allow  special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Siret</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="hotelName" ng-model="createSupplier.supplier.siret" ng-minlength="3" required ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.hotelName.$error.required && submitted">Tell  your Siret</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.minlength && submitted">Siret  should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.maxlength && submitted">Siret  should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.pattern && submitted">Siret  won't allow  special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">N Degree TVA Code</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="hotelName" ng-model="createSupplier.supplier.nDegreeTVAcode" ng-minlength="3" required ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.hotelName.$error.required && submitted">Tell  your N Degree TVA Code</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.minlength && submitted">N Degree TVA Code should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.maxlength && submitted">N Degree TVA Code should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.hotelName.$error.pattern && submitted">Corporate name won't allow  special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Unit</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="unit" ng-model="createSupplier.supplier.address.unit" ng-minlength="1" ng-maxlength="10" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.unit.$error.minlength && submitted">Unit should be minimum of 1 digit</span>
                                        <span class="error" ng-show="suppAccount.unit.$error.maxlength && submitted">Unit should be maximum of 10 digit</span>
                                        <span class="error" ng-show="suppAccount.unit.$error.pattern && submitted">Unit won't allow special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Building</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="building" ng-model="createSupplier.supplier.address.building" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.building.$error.minlength && submitted">Building Name should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.building.$error.maxlength && submitted">Building name should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.building.$error.pattern && submitted">Building name won't allow numbers and special characters</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Street</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="street" ng-model="createSupplier.supplier.address.street" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.street.$error.minlength && submitted">Street should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.street.$error.maxlength && submitted">Street name should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.street.$error.pattern && submitted">Street name won't allow  special characters</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">City</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="city" ng-model="createSupplier.supplier.address.city" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z ]*$/">
                                        <span class="error" ng-show="suppAccount.city.$error.minlength && submitted">City name should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.city.$error.maxlength && submitted">City name should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.city.$error.pattern && submitted">City name won't allow numbers and special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Region</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="region" ng-model="createSupplier.supplier.address.region" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9& ]*$/">
                                        <span class="error" ng-show="suppAccount.region.$error.minlength && submitted">Region should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.region.$error.maxlength && submitted">Region should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.region.$error.pattern && submitted">Region won't allow numbers and special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Country</label>
                                    <div class="col-md-8 col-xs-7">
                                        <select class="form-control" name="countryH" ng-model="createSupplier.supplier.address.country" ng-options="country.code as country.name for country in countriesList">
                                           <option value="">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Telephone</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="phone" ng-model="createSupplier.supplier.phone" ng-minlength="10" ng-maxlength="12" ng-pattern=" /^[0-9]+$/ " required>
                                        <span class="error" ng-show="suppAccount.phone.$error.required && submitted">Phone is required</span>
                                        <span class="error" ng-show="suppAccount.phone.$error.minlength && submitted">Phone Number should be minimum of 10 digit</span>
                                        <span class="error" ng-show="suppAccount.phone.$error.maxlength && submitted">Phone Number should be maximum of 12 digit</span>
                                        <span class="error" ng-show="suppAccount.phone.$error.pattern && submitted">Phone Number should have digits only<span>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Supplier Manager">
                                <div class="scrollable-div1 ">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Salutation</label>
                                        <div class="col-md-8 col-xs-7">
                                            <select class="form-control "  ng-model="createSupplier.supplierManager.prefix" required>
                                                <option>Mr.</option>
                                                <option>Ms.</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">First Name</label>
                                        <div class="col-md-8 col-xs-7">
                                            <input type="text" class="form-control" name="hmfirstName" ng-model="createSupplier.supplierManager.firstname" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z ]*$/" required>
                                            <span class="error" ng-show="suppAccount.hmfirstName.$error.required && submitted">Tell us your First Name</span>
                                        <span class="error" ng-show="suppAccount.hmfirstName.$error.minlength && submitted">First name should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.hmfirstName.$error.maxlength && submitted">First name should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.hmfirstName.$error.pattern && submitted">First name won't allow numbers and special characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Last Name</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="hmlastName" ng-model="createSupplier.supplierManager.lastname" required ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z ]*$/">
                                        <span class="error" ng-show="suppAccount.hmlastName.$error.required && submitted">Tell us your Last Name</span>
                                        <span class="error" ng-show="suppAccount.hmlastName.$error.minlength && submitted">Last name should be minimum of 3 characters</span>
                                        <span class="error" ng-show="suppAccount.hmlastName.$error.maxlength && submitted">Last name should be maximum of 25 characters</span>
                                        <span class="error" ng-show="suppAccount.hmlastName.$error.pattern && submitted">Last name won't allow numbers and special characters</span>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Title</label>
                                        <div class="col-md-8 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div> -->

                                <!-- <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Preferred Language</label>
                                        <div class="col-md-8 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div> -->

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Telephone</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input type="text" class="form-control" name="hmphone" ng-model="createSupplier.supplierManager.phone" ng-minlength="10" ng-maxlength="12" ng-pattern=" /^[0-9]+$/ " required>
                                        <span class="error" ng-show="suppAccount.hmphone.$error.required && submitted">Phone is required</span>
                                        <span class="error" ng-show="suppAccount.hmphone.$error.minlength && submitted">Phone Number should be minimum of 10 digit</span>
                                        <span class="error" ng-show="suppAccount.hmphone.$error.maxlength && submitted">Phone Number should be maximum of 12 digit</span>
                                        <span class="error" ng-show="suppAccount.hmphone.$error.pattern && submitted">Phone Number should have digits only<span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Email</label>
                                        <div class="col-md-8 col-xs-7">
                                            <input type="text" class="form-control" name="hmemail" ng-model="createSupplier.supplierManager.email" required>
                                            <span class="error" ng-show="suppAccount.hmemail.$error.required && submitted">Email Field is required</span>
                                        <span class="error" ng-show="suppAccount.hmemail.$error.email && submitted">Tell us your Valid Email</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">Langugae</label>
                                    <div class="col-md-8 col-xs-7">
                                        <select class="form-control" name="language" ng-model="createSupplier.supplierManager.preferedLanguage" ng-options="language.code as language.language for language in languagesList" required>
                                            <option value="">Select Language</option>
                                        </select>
                                        <span class="error" ng-show="suppAccount.language.$error.required  && submitted">Select Language</span>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Contact">
                            <button class="btn btn-default" ng-click="newContact()">Add</button>
                            <accordion close-others="oneAtATime" ng-repeat="cont in contacts">
                                <accordion-group heading="New Contact" is-open="cont.isFirstOpen" is-disabled="cont.isFirstDisabled">

                                    <div class="scrollable-div1  ">

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-5 control-label">Salutation</label>
                                            <div class="col-md-8 col-xs-7">
                                                <select class="form-control" ng-model="cont.prefix">
                                                    <option>Mr.</option>
                                                    <option>Ms.</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-5 control-label">First Name</label>
                                            <div class="col-md-8 col-xs-7">
                                                <input type="text" class="form-control" name="firstName" ng-model="cont.firstname" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z ]*$/" required>
                                                <span class="error" ng-show="suppAccount.firstName.$error.required  && submitted">Tell us your First Name</span>
                                                <span class="error" ng-show="suppAccount.firstName.$error.minlength  && submitted">First name should be minimum of 3 characters</span>
                                                <span class="error" ng-show="suppAccount.firstName.$error.maxlength  && submitted">First name should be maximum of 25 characters</span>
                                                <span class="error" ng-show="suppAccount.firstName.$error.pattern  && submitted">First name won't allow numbers and special characters</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-5 control-label">Last Name</label>
                                            <div class="col-md-8 col-xs-7">
                                                <input type="text" class="form-control" name="lastName" ng-model="cont.lastname" required ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z ]*$/">
                                                <span class="error" ng-show="suppAccount.lastName.$error.required  && submitted">Tell us your Last Name</span>
                                                <span class="error" ng-show="suppAccount.lastName.$error.minlength  && submitted">Last name should be minimum of 3 characters</span>
                                                <span class="error" ng-show="suppAccount.lastName.$error.maxlength  && submitted">Last name should be maximum of 25 characters</span>
                                                <span class="error" ng-show="suppAccount.lastName.$error.pattern  && submitted">Last name won't allow numbers and special characters</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-5 control-label">Title</label>
                                            <div class="col-md-8 col-xs-7">
                                                <input type="text" class="form-control" ng-model="cont.title">
                                            </div>
                                        </div>
                                        <!--  <div class="form-group">
                                                <label class="col-md-3 col-xs-5 control-label">Preferred Language</label>
                                                <div class="col-md-8 col-xs-7">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div> -->
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-5 control-label">Telephone</label>
                                            <div class="col-md-8 col-xs-7">
                                                <input type="text" class="form-control" name="phone" ng-model="cont.phone" ng-minlength="10" ng-maxlength="12" ng-pattern=" /^[0-9]+$/ " required>
                                                <span class="error" ng-show="suppAccount.phone.$error.required  && submitted">Phone is required</span>
                                                <span class="error" ng-show="suppAccount.phone.$error.minlength  && submitted">Phone Number should be minimum of 10 digit</span>
                                                <span class="error" ng-show="suppAccount.phone.$error.maxlength  && submitted">Phone Number should be maximum of 12 digit</span>
                                                <span class="error" ng-show="suppAccount.phone.$error.pattern  && submitted">Phone Number should have digits only<span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-5 control-label">Email</label>
                                                <div class="col-md-8 col-xs-7">
                                                    <input type="text" class="form-control" name="email" ng-model="cont.email" required>
                                                    <span class="error" ng-show="suppAccount.email.$error.required  && submitted">Email Field is required</span>
                                                <span class="error" ng-show="suppAccount.email.$error.email  && submitted">Tell us your Valid Email</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-5 control-label">Langugae</label>
                                            <div class="col-md-8 col-xs-7">
                                                <select class="form-control" name="language" ng-model="cont.preferedLanguage" ng-options="language.code as language.language for language in languagesList" required>
                                                       <option value="">Select Language</option>
                                                </select>
                                                <span class="error" ng-show="suppAccount.language.$error.required  && submitted">Select Language</span>
                                            </div>
                                        </div>
                                    </div>

                                </accordion-group>
                            </accordion>

                        </tab>
                        <tab heading="Opening Hours">
                            <div class="scrollable-div1">
                                <div class="row" ng-repeat="worktime in workingtime track by $index">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-5 col-xs-5 control-label">Week Day Name</label>
                                            <div class="col-md-7 col-xs-7">
                                                <select class="form-control m-b" ng-model="worktime.day" required>
                                                    <option value="monday">Monday</option>
                                                    <option value="tuesday">Tuesday</option>
                                                    <option value="wednesday">Wednesday</option>
                                                    <option value="thursday">Thursday</option>
                                                    <option value="friday">Friday</option>
                                                    <option value="saturday">Saturday</option>
                                                    <option value="sunday">Sunday</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-md-5 col-xs-5 control-label">Opening Time</label>
                                            <div class="col-md-7 col-xs-7">
                                                <select ui-jq="chosen" class="form-control m-b" name="timepicker" id="timePicker" time-picker ng-model="worktime.openingTime" required>
                                                    <option value="{{time}}" ng-repeat="time in timings">{{time}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-md-5 col-xs-5 control-label">Closing Time</label>
                                            <div class="col-md-7 col-xs-7">
                                                <select ui-jq="chosen" class="form-control m-b" name="timepicker" id="timePicker" time-picker ng-model="worktime.closingTime" required>
                                                    <option value="{{time}}" ng-repeat="time in timings">{{time}}</option>\
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-md-7 col-xs-7">
                                                <button class="btn btn-primary" ng-click="addWorkingDay()">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Days Off">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="input-group w-md">
                                            <div>
                                                <multiple-date-picker ng-model="hello">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" ng-click="addOpening()">Add Exceptional Opening </button>
                            </div>

                            <div class="col-md-8 scrollable-div1">
                                <div class="row" ng-repeat="openingdate in dateopening track by $index">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Select</label>
                                        <div class="col-sm-8">
                                            <select ui-jq="chosen" ng-model="openingdate.time" class="form-control m-b" name="timepicker" id="timePicker" time-picker>
                                                <option value="{{time}}" ng-repeat="time in timings">{{time}}</option>\
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Exceptional Opening</label>
                                        <div class="col-sm-8">
                                            <div class="input-group w-md">
                                                <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="openingdate.date" is-open="newOpeningDate[$index]" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openDate2($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>

                    <!-- END TABS -->
                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-Primary" data-dismiss="modal" ng-click="createSuppAccount(createSupplier)">Save</button>
</div>