<div class="modal-header">
    <h4 class="modal-title" id="defModalHead">Modify Account Details</h4>
</div>
<div class="modal-body">

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-5">

                <form action="#" class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Hotel ID : 456852951</h3>
                        </div>
                        <div class="panel-body">
                            <div class="text-center" id="user_image">
                                <img src="assets/images/users/user2.jpg" class="img-thumbnail">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <a href="#" class="btn btn-block btn-default">View Photo</a>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-md-6 col-xs-5 control-label">Old Password</label>
                                <div class="col-md-6 col-xs-7">
                                    <input type="password" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 col-xs-5 control-label">New Password</label>
                                <div class="col-md-6 col-xs-7">
                                    <input type="password" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 col-xs-5 control-label">Re-type Password</label>
                                <div class="col-md-6 col-xs-7">
                                    <input type="password" class="form-control">
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <a href="#" class="btn  btn-block btn-primary" data-toggle="modal" data-target="#modal_change_password">Change password</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <div class="col-md-8 col-sm-8 col-xs-7">

                <form action="#" class="form-horizontal">
                    <div class="panel panel-default">

                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Telephone</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Fax</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Email</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- START TABS -->




                        <tabset class="tab-container">
                            <tab heading="Manager">
                                <div class="scrollable-div ">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Salutation</label>
                                        <div class="col-md-9 col-xs-7">
                                            <select class="form-control ">
                                                <option value="Mr">Mr.</option>
                                                <option value="Ms">Ms.</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">First Name</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Last Name</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Title</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Preferred Language</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Telephone</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Email</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Contact">
                                <div class="scrollable-div ">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Salutation</label>
                                        <div class="col-md-9 col-xs-7">
                                            <select class="form-control select">
                                                <option value="Mr">Mr.</option>
                                                <option value="Ms">Ms.</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">First Name</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Last Name</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Title</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Preferred Language</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Telephone</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Email</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Rooms">
                                <div class="scrollable-div  ">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label"># Rooms</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Contracted Rooms</label>
                                        <div class="col-md-9 col-xs-7">
                                            <input type="number" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Name of Rooms</label>
                                        <div class="col-md-9 col-xs-7">
                                            <select class="form-control " multiple="">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">Assigned Tablets</label>
                                        <div class="col-md-5 col-xs-7">
                                            <p>15</p>
                                        </div>

                                        <div class="col-md-4 col-xs-7">
                                            <span ng-controller="ModalDemoCtrl1" class="ng-scope">
                                                      <script type="text/ng-template" id="myModalContent1.html">
                                                        <div ng-include="'app/ZoneManager/modal/modal.zm-acc-tab-details.html'"></div>
                                                      </script>
                                                      <a  ng-click="open('lg')">Assign tablets</a>
                                                    </span>
                                            
                                        </div>
                                    </div>

                                </div>
                            </tab>

                        </tabset>

                    <!-- END TABS -->
                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-Primary" data-dismiss="modal">Save</button>
</div>