<script type="text/ng-template" id="hotelManagerPwdModal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="changePwd">Change Password</h4>
    </div>
    <div class="modal-body">
        <div class="page-content-wrap">
            <form name="pwdForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 col-xs-12 control-label">Old Password</label>
                    <div class="col-md-6 col-xs-12"> 
                        <input type="password" class="form-control" name="oldpwd" ng-model="changePasswordDetails.oldpassword" required>
                        <span class="error" ng-show="pwdForm.oldpwd.$error.required && submitted">Old password Field is required</span>
                    </div>
                </div>      
                <div class="form-group">
                    <label class="col-md-4 col-xs-12 control-label">New Password</label>
                    <div class="col-md-6 col-xs-12"> 
                        <input type="password" class="form-control" name="newPwd" ng-model="changePasswordDetails.newpassword" required>
                        <span class="error" ng-show="pwdForm.newPwd.$error.required 
                        && submitted">New password Field is required</span>
                    </div>
                </div>      
                <div class="form-group">
                    <label class="col-md-4 col-xs-12 control-label">Confirm New Password</label>
                    <div class="col-md-6 col-xs-12"> 
                        <input type="password" class="form-control" name="cnfPwd" ng-model="confirmPassword" required>
                        <span class="error" ng-show="pwdForm.cnfPwd.$error.required 
                        && submitted">Confirm new password Field is required</span>
                        <span class="error" ng-show="setError && changePasswordDetails.newpassword != confirmPassword">Confirm password is not matching with new password</span>
                    </div>
                </div>           
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary "  ng-click="changePwd(changePasswordDetails, pwdForm.$valid, confirmPassword)" >Change</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>
<button class="btn btn-info btn-block passBtn"
    ng-click="changeAccountPassword('md')">Change Password</button>
