
<!-- /*************************************************************************
* 
* TOP HAT VOYAGE CONFIDENTIAL
* __________________
* 
*  [2014] - [2015] Top Hat Voyage SAS - Alfred by THV
*  All Rights Reserved.
* 
* NOTICE:  All information contained herein is, and remains
* the property of Top Hat Voyage SAS and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Top Hat Voyage SAS
* and its suppliers and may be covered by French and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Top Hat Voyage SAS.
*/ -->
<div class="container w-xxl w-auto-xs">
        
            <div>
                <a ui-sref="home" class="navbar-brand block m-t">THV</a>
                <div class="m-b-lg">
                    <div class="login-title" style="margin-bottom: 12px;"><strong>Log In</strong></div>
                    <form  name="logIn" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="username" placeholder="Username" ng-model="user.username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a ui-sref="forgot_password" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block" ng-click="login(user)">Log In</button>
                        </div>
                    </div>
                    <!-- <div class="login-or">OR Login Using</div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block btn-twitter"><span class="fa fa-twitter"></span> Twitter</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block btn-facebook"><span class="fa fa-facebook"></span> Facebook</button>
                        </div>
                        <div class="col-md-4">                            
                            <button class="btn btn-danger btn-block btn-google"><span class="fa fa-google-plus"></span> Google</button>
                        </div>
                    </div>
                    <p class="text-center"><small>Do not have an account?</small></p>
                    <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Create an account</a> -->
                    </form>
                </div>
            </div>
            
        </div>