
<div class="container w-xxl w-auto-xs">
        
            <div>
                <div class="m-b-lg">
                    <div class="login-title" style="margin-bottom: 12px;"><strong>ZoneManager Log In</strong></div>
                    <form  name="logIn" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="email" class="form-control" name="email" placeholder="E-mail" ng-model="user.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block" ng-click="login(user)">Log In</button>
                        </div>
                    </div>
                    <div class="login-or">OR Login Using</div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block btn-twitter"><span class="fa fa-twitter"></span> Twitter</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block btn-facebook"><span class="fa fa-facebook"></span> Facebook</button>
                        </div>
                        <div class="col-md-4">                            
                            <button class="btn btn-danger btn-block btn-google"><span class="fa fa-google-plus"></span> Google</button>
                        </div>
                    </div>
                    <p class="text-center"><small>Do not have an account?</small></p>
                    <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Create an account</a>
                    </form>
                </div>
            </div>
            
        </div>